	
.material-symbols-outlined {
	font-family: "Poppins", sans-serif;
  	font-style: normal;
	speak-as: none;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	-ms-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.home_app_logo:before {
	content: "\e295";
}

.contacts_product:before {
  content: "\e999";
}

.sports_soccer:before {
  content: "\ea2f";
}

.case:before {
	content: "\e992";
}

.lz-photo:before {
	content: "\e3f4";
}

.lz-video:before {
	content: "\eb87";
}

.group_add:before {
	content:"\e7f0"
}

.sports:before {
	content:"\ea30"
}

.sports_soccer:before {
	content:"\ea2f"
}

.arrow_right:before{
    content:"\e5df"
}

.arrow_left:before {
    content:"\e5de"
}